# Node modules (should be installed inside container)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Git
.git
.gitignore

# IDE/editor files
.vscode
.idea
.DS_Store

# OS & temp files
*.swp
*.swo
*.tmp
*.log

# Build artifacts
build
dist

package-lock.json
